body.trail-body *, .trail .trail-backdrop.interactive {
  pointer-events: none;
  user-select: none;
}

.trail-body {
  .trail, .trail *, .trail-step, .trail-step *, .trail-target {
    pointer-events: auto;
    user-select: auto;
  }
}

.trail-step {
  display: none;
}

.trail {
  top: 0;
  left: 0;
  position: fixed;

  &:not(.no-transition) {
    .trail-backdrop {
      transition: 
        opacity 0.25s ease-in-out,
        width 0.25s ease-in-out,
        height 0.25s ease-in-out,
        transform 0.25s ease-in-out
      ;
    }

    .trail-content {
      transition: opacity 0.25s ease-in-out;
    }
  }

  & &-backdrop {
    top: 0;
    left: 0;
    box-sizing: content-box;
    display: none;
    position: inherit;
    opacity: 0;
    outline: 200vmax solid rgba(0, 0, 0, 0.5);
    position: fixed;
    transition:
      border-radius 0.25s ease-in-out,
      width 0.25s ease-in-out;

    &.show {
      display: block;
    }

    &.visible {
      opacity: 1;
    }
  }

  & &-content {
    background-color: #FFFFFF;
    border-radius: 6px;
    display: none;
    max-width: calc(100% - 2em);
    padding: 1em;
    position: inherit;
    opacity: 0;

    &.show {
      display: block;
    }

    &.visible {
      opacity: 1;
    }
  }

  & &-step {
    display: block;
  }
}
